<% include header %>

<div class="container my-4" >
    <div class="row">
        <div class="col-sm-3">
            &nbsp;
        </div>


        <form class="col-sm-6 loginBox">
            <h1 class="title">Elfelejtett jelszó</h1>
            <div class="form-group">
                <label for="email">Email cím</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email cím">
            </div>

            <% if (typeof data.pw !== "undefined") { %>
                <div class="alert alert-primary" role="alert">
                    A jelszavad: <%= data.pw%> (#BKK :D )
                </div>
            <% }%>

            <% if (typeof data.error !== "undefined") { %>
                <div class="alert alert-danger" role="alert">
                    <%= data.error %>
                </div>
            <% }%>

            <div class="form-group my-2">
                <button type="submit" class="btn btn-info mr-sm-2" >Jelszóemlékeztető küldése</button>

                <a href="/login" class="btn btn-success mr-sm-2">Eszembe jutott</a>
            </div>
        </form>
    </div>
</div>

<% include footer %>