<% include header %>
<% include navBar %>

    <div class="container my-4">
        <div class="row">
            <h1>Új eszköz</h1>
        </div>

        <form class="my-4">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="device_name">Eszköz neve</label>
                    <input type="name" name="deviceName" class="form-control mr-sm-2" id="device_name">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="device_value">Értéke</label>
                    <input type="number" name="deviceValue" class="form-control mr-sm-2" id="device_value" min="1">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="device_quantity">Mennyiség</label>
                    <input type="number" name="deviceQuantity" class="form-control mr-sm-2" id="device_quantity" placeholder="1" min="1">
                </div>
            </div>

            <div class="form-row form-inline">
                <button class="btn btn-success mr-sm-2" type="submit">Eszköz felvétele</button>
                <a class="btn btn-outline-danger my-2" href="/device/list">Mégsem</a>
            </div>
        </form>
    </div>

<% include footer %>>